<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="MalditaMicro.MalditaMicro" android:installLocation="auto" android:versionCode="1" android:versionName="1">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Maldita Micro" android:icon="@drawable/ic_maps_directions_bus"></application>
</manifest>